version: "3"
services:
  kdc:
    image: apache/ozone-testkrb5:latest
    cap_add:
      - SYS_NICE
    container_name: test-kdc
    hostname: kdc.ozone
    networks:
      - hadoop-net
    ports:
      - 88:88
      - 749:749
    volumes:
      - ./setup-kdc.sh:/setup-kdc.sh
      - ./keytabs:/keytabs
    command: bash /setup-kdc.sh
  
  krb-client:
    image: debian:stable-slim
    volumes:
      - ./keytabs:/keytabs
    stdin_open: true
    tty: true
    networks:
      - hadoop-net
    command: >
      /bin/bash -c "
      apt-get update &&
      echo 'krb5-config krb5-config/default_realm string EXAMPLE.COM' | debconf-set-selections &&
      echo 'krb5-config krb5-config/kerberos_servers string test-kdc' | debconf-set-selections &&
      echo 'krb5-config krb5-config/admin_server string test-kdc' | debconf-set-selections &&
      echo 'krb5-config krb5-config/read_config boolean true' | debconf-set-selections &&
      apt-get install -y krb5-user &&
      apt-get install -y curl &&
      tail -f /dev/null &&
      curl --negotiate -i -v "http://hadoop:9870/webhdfs/v1/?op=GETDELEGATIONTOKEN&renewer=hadoop"
      "
      
  hadoop:
    image: apache/hadoop:3
    depends_on:
      - kdc
    container_name: hadoop
    hostname: hadoop
    ports:
      - 9870:9870   # Web UI and WebHDFS
      - 9864:9864
      - 9866:9866
      - 9867:9867
      - 9000:9000   # HDFS client RPC
    networks:
      - hadoop-net
    environment:
      - ENSURE_NAMENODE_DIR=/tmp/hadoop-root/dfs/name
      - DFS_DATANODE_HOSTNAME=localhost
    volumes:
      - ./hadoop-conf:/opt/hadoop/etc/hadoop
      - ./keytabs:/etc/security/keytabs
      - ./hadoop-data:/tmp/hadoop-root
      - ./hadoop-log:/var/log/hadoop
    command: >
      bash -c "
        sleep 10 &&
        sudo sed -i 's/SERVER/test-kdc/g' /etc/krb5.conf &&
        sudo chown hadoop:hadoop /etc/security/keytabs/*.keytab || true &&
        sudo chmod 600 /etc/security/keytabs/*.keytab || true &&
        kinit -kt /etc/security/keytabs/nn.keytab nn/hadoop@EXAMPLE.COM &&
        sudo rm -rf /tmp/hadoop-root/dfs/data/* &&
        sudo rm -rf /tmp/hadoop-root/dfs/name/* &&
        sudo mkdir -p /tmp/hadoop-root/dfs/data &&
        sudo mkdir -p /tmp/hadoop-root/dfs/name &&
        sudo chown -R hadoop:hadoop /tmp/hadoop-root &&
        sudo chmod -R 700 /tmp/hadoop-root &&
        hdfs namenode -format -force &&
        hdfs --daemon start namenode &&
        hdfs --daemon start datanode &&
        hdfs dfs -mkdir /root &&
        hdfs dfs -mkdir /root/testFolder1 &&
        hdfs dfs -mkdir /root/testFolder2 &&
        hdfs dfs -chown dr.who:supergroup /root &&
        hdfs dfs -chown dr.who:supergroup /root/testFolder1 &&
        hdfs dfs -chown dr.who:supergroup /root/testFolder2 &&
        tail -f /dev/null
      "
      
networks:
  hadoop-net:
    driver: bridge